<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:card_view="http://schemas.android.com/apk/res-auto"
    package="com.dan190.manager">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/morning"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.TaskListActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:theme="@style/AppTheme.TransParentActionBar"
            android:name=".activity.TaskEditActivity"
            android:label=""
            android:parentActivityName=".activity.TaskListActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.dan190.manager.activity.TaskListActivity" />
        </activity>
    </application>

</manifest>
